@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

body{
   background-color: rgb(192, 185, 185);
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
    font-family: "Noto Sans Bengali", sans-serif;
    margin: 0px;
}

.webmain{
    max-width: 1440px;
}
.container{
    padding: 0px 100px;
}
.rightmenus a{
    text-decoration:none;
    font-size: 16px;
    color: #d1e70c;
    font-weight: 600;
    margin-left: 34px;
}
.rightmenus a:hover{
    color: #ffffff;}

header{
    background-image: url("Images/tiles.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid rgb(175, 151, 11);
}
header h1{
    margin-top: 0px;
    color: rgb(212, 209, 8);
    font-size: 54px;
    padding-top: 30px;
}    

header h1:hover{
    color: white;
}
.menubar{
    display: none;
    font-size: 25px;
    color: #3A3A3A;
}
.halfwidth{
    width: 50%;
}
.bodnamain{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.halfwidth h1{
    font-size: 54px;
    color: #fffb00;
    margin-bottom: 0px;
}
.halfwidth img{
    border-radius: 10px;
}
.boxmain{
text-align: center;
font-size: 40px;
}
.box1{
    padding: 10px 15px;
    width: 329px;
    height: 476px;
   
    border-radius: 5px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.205);
    background-color: rgb(230, 224, 224);
}
.boxtitle{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0px;
}
.boxcont{
    font-size: 24px;
    margin-top: 0px;
}
.stars{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #FB8200;
}
#start{
    color: black;

}
.boxcont2{
    font-size: 14px;
    
}
.allbox{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
    
    
    
}
.boximg{
    display: flex;
    width: 100%;
    justify-content: center;
}
.kala{
    color: black;
}
.lallu{
    width: 120px;
    height: 5px;
    background-color: red;
}
.suru{
    margin-bottom: 100px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
form label{
    font-size: 20px;
    font-weight: bold;
    color: #fffb00;
}
form input{
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 20px;
}
